/* Universal Styles */

html {
  font-family: 'Roboto Slab', serif;
  color: #1a2f6b;
}

.container {
  padding: 2rem 8rem;
  margin: auto;
}

h1, h2 {
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

/* Header Section */

header {
  background-color: #38b4f9;
  padding: 1.25rem 9rem 1.25rem 8rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#header img {
  height: 7rem;
  padding-right: 1rem;
}

ul.nav {
  line-height: 2;
  text-align: right;
  font-weight: bold;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: #1a2f6b;
}

/* Image Div */

#header_image {
  background-image: url("../images/header_background.jpg");
  background-size: cover;
  height: 26rem;
  background-position: center;
  margin-bottom: 2rem;
}

/* About Section */

#about {
  padding-right: 2rem;
}

#about h1 {
  padding-bottom: 2rem;
}

#about h2 {
  padding-top: 2rem;
}

/* Services Sections */

.service {
  display: flex;
  align-items: center;
}

.service img {
  height: 15rem;
  padding-right: 2rem;
}

/* Contact Section */

div.contact {
  background-color: #38b4f9;
  margin-top: 4rem;
}

#contact {
  color: white;
  padding: 1rem 0;
}

#contact h1 {
  line-height: 1.5;
  font-size: 3rem;
}

#contact a {
  text-decoration: none;
  color: #FFF;
}

#contact a:hover {
  color: #1a2f6b;
}

/* Footer Section */

footer {
  height: 1rem;
  padding: 2rem 0;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: #6EC5B4;
}

footer span, footer a {
  color: #4D4D4D;
}

/* Media Queries */

@media only screen and (min-width: 751px) and (max-width: 1027px) {

  .container {
    padding: 2rem 5rem;
  }

  header {
    background-color: #38b4f9;
    padding: 1.25rem 6rem 1.25rem 5rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .service h1 {
    font-size: 2.5rem;
  }

  #contact h1 {
    line-height: 1.5;
    font-size: 2rem;
  }

}

@media only screen and (min-width: 521px) and (max-width: 750px) {

  .container {
    padding: 2rem 3rem;
  }

  header {
    background-color: #38b4f9;
    padding: 1.25rem 4rem 1.25rem 3rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .service {
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 4rem;
  }

  .service img {
    height: 12rem;
    padding-right: 0;
    margin: auto;
  }

  .service h1 {
    font-size: 2.5rem;
  }

  #contact h1 {
    line-height: 1.5;
    font-size: 2rem;
  }

}

@media only screen and (min-width: 250px) and (max-width: 520px) {

  html {
    text-align: center;
  }

  .container {
    padding: 1rem;
  }

  header {
    background-color: #38b4f9;
    padding: 1.25rem 1.25rem 1.25rem .75rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  #header img {
    height: 5rem;
    padding-right: 1rem;
  }

  #header_image {
    height: 20rem;
  }

  ul.nav {
    line-height: 1.7;
    text-align: right;
    font-weight: bold;
    font-size: 1rem;
  }

  .service {
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 4rem;
  }

  .service img {
    height: 12rem;
    padding-right: 0;
    margin: auto;
  }

  .service h1 {
    font-size: 2.5rem;
  }

  div.contact {
    margin-top: 2rem;
  }

  #contact h1 {
    line-height: 1.5;
    font-size: 1.25rem;
  }

  #contact {
    color: white;
    padding: .5rem 0;
  }

  footer {
    font-size: .75rem;
  }

}
