/* Universal Styles */

html {
  font-family: 'Roboto Slab', serif;
  color: #2E3192;
}

h1, h2, h3, span {
  font-weight: bold;
  line-height: 1.2em;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

.background {
  width: 100%;
  padding: 4rem 6rem;
}

.contents {
  max-width: 1024px;
}

/* Header Section */

header {
  width: 100%;
  color: white;
  background-image: url("../images/header_background_1.jpg");
  background-size: cover;
  background-position: center;
  height: 12rem;
  position: fixed;
  top: 0;
  z-index: 5;
  padding-left: 6rem;
  display: flex;
  align-items: center;
}

img.logo {
  display: block;
  height: 8rem;
}

nav {
  padding: 1rem;
  text-align: center;
  flex-grow: 1;
}

nav span {
  padding: 0 1.5rem;
  font-size: 1.25rem;
}

/* All Content */

div.content {
  position: relative;
  top: 12rem;
}

/* Introduction/Services Section */

div.introduction {
  margin: 2rem auto;
  height: 1000px;
}

.slogan {
  padding: 5rem 2rem 1rem 10%;
}

.introduction h2 {
  padding: 2rem 2rem 1rem 10%;
}

.services {
  padding: 2rem 2rem 1rem 12%;
  font-size: 1.5rem;
  font-weight: bold;
}

.services li {
  padding: .5rem 0;
}

/* Gallery */


/* Contact Section */

div#contact {
  height: 8rem;
  background-color: #29ABE2;
  color: white;
}

.contents h1 {
  padding-top: .75rem;
}
